*{
  box-sizing: border-box;
}

body{
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
}


/******************** header *******************/
header{
  background-color: grey;
  position: relative;
  height: 110px;
  padding: 10px;
  color: white;
  margin: 15px;
}

header img{
  position: absolute;
  left: 150px;
  top: 0;
  bottom: 0;
  margin: auto;
}

header nav{
  position:absolute;
  left: 350px;
}

header ul{
  position: relative;
  top: 7px;
}

header li{
  display: inline-block;
  padding: 30px;
  padding-right: 100px;
}

/******************** main*******************/

#row-1{
  width: 80%;
  margin:30px auto 30px auto;
  text-align: center;
}

#row-2{
  width: 80%;
  margin:30px auto 30px auto;
  text-align: center;
}

#row-2 img{
 padding: 0 12px 0 12px;
}

#row-3{
  position: relative;
  width: 60em;
  height: 400px;
  margin:30px auto 30px auto;
  text-align: center;
}

#row-3 img{
  position: absolute;
  left: 0px;
}

#row-3 article{
  width: 26em;
  position: absolute;
  right: 0px;
  text-align: justify;
  padding-bottom: 0;
}

#row-3 article h3{
  font-weight: bolder;
  padding-bottom: 10px;
}

#row-3 article p{
  font-style: italic;
  line-height: 20px;
}

#row-3 span{
  position: absolute;
  bottom: 0;
  right: 16.6em;
  color: white;
  background-color: black;
  padding: 9px;
  width: 150px;
  text-align: center;
}

footer{
  height: 100px;
  background-color: grey;
  clear: both;
}