*{
  box-sizing: border-box;
}

body{
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
}

header{
  background-color: grey;
  position: relative;
  height: 110px;
  padding: 10px;
  color: white;
}

header img{
  position: absolute;
  left: 150px;
  top: 0;
  bottom: 0;
  margin: auto;
}

header nav{
  position:absolute;
  left: 350px;
}

header ul{
  position: relative;
  top: 7px;
}

header li{
  display: inline-block;
  padding: 30px;
  padding-right: 100px;
}